@font-face {
    font-family: 'Boorush';
    src: url('fonts/boorush.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Floren';
    src: url('fonts/floren.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: rgb(255, 250, 246);
}


.title-container {
    width: 100%;
    height: 23vh;
    background-color: white;
    overflow: hidden;
}

.image-1 {
    width: 100%;
    height: 30vh;
    background-color: rgb(191, 57, 239);
    background-image: url(image-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.image-2 {
    position: absolute;
    left: 5vw;
    top: 35vh;
    width: 400px;
    height: 400px;
    background-color: rgb(239, 203, 57);
    background-image: url(image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.image-2-desk {
    position: absolute;
    left: 5vw;
    top: calc(35vh + 400px);
    width: 400px;
    height: 80px;
    background-color: rgb(191, 57, 239);
    text-align: center;
    align-items: center;
    font-style: italic;
}

.image-2-desk-title {
    color: rgb(219, 219, 219);
    font-family: 'Floren', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 6%;
}

.title-1 {
    text-align: center;
    font-family: 'Boorush', Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: rgb(134, 43, 226);
    transform-origin: 0;
    margin-top: 15px;
}

.title-2 {
    position: absolute;
    font-family: 'Floren', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    color: rgb(134, 43, 226);
    font-size: large;
    left: 45%;
    top: 102px;
}


.main-desk-container {
    position: absolute;
    top: 350px;
    left: 37%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;
}


.main-desk-title {
    font-family: 'Boorush', Arial,Helvetica, sans-serif;
    color: rgb(134, 43, 226);
    font-size: 80px;
}

.main-desk-special {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: rgb(134, 43, 226);
    font-size: 80px;
}

.main-desk-special:nth-child(2) {
    margin-right: 10px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: rgb(134, 43, 226);
    font-size: 80px;
}

.main-desk {
    position: absolute;
    font-size: medium;
    color: rgb(80, 80, 80);
    left: 37%;
}

.scroll-spacer {
    height: 110vh;
}

.last-block {
    position: absolute;
    background-color: rgb(255, 151, 238);
    height: 72%;
    width: 100%;
    top: 120vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.last-block-title {
    margin-top: 35px;
    font-family: 'Boorush';
    font-size: 90px;
    color: white;
}

.last-block-special {
    margin-top: 30px;
    font-family: 'Nunito';
    font-size: 90px;
    color: white;
}

.checks-1, .checks-2 {
    position: absolute;
    font-family: 'Nunito';
    border-radius: 80px;
    border: none;
    background-color: white;
    width: 80px;
    height: 80px;
    font-weight: bolder;
    color: rgb(134, 43, 226);
    font-size: 55px;
    text-align: center;
}

.checks-1 {
    left: 5vw;
}

.checks-2 {
    left: 55vw;
}

.checks-1-desk, .checks-2-desk {
    position: absolute;
    color: rgb(80, 80, 80);
    font-size: small;
}

.checks-1-desk {
    left: 11.5vw;
}

.checks-2-desk {
    left: 61.5vw;
}